<div>
  You can clap! with Hashtag ...
  <%= form_tag(clap_path, method: "post") do %>
    <div class="hash-tag">
      <%= text_field_tag(:hash_tag, @hash_tag, placeholder: '#') %>
    </div>
    <%= button_tag "Clap! ðŸ‘", value: 'clap.mp3', type: :submit, name: 'sound_name', class: 'btn btn-info btn-xl btn-block' %>
    <br>
    Other reactions
    <%= button_tag("Laugh! ðŸ˜†", value: 'laugh.mp3', type: :submit, name: 'sound_name', class: 'btn btn-info btn-lg btn-block') %>
    <%= button_tag("Surprized! ðŸ˜²", value: 'surprized.mp3', type: :submit, name: 'sound_name', class: 'btn btn-info btn-lg btn-block') %>
  <% end %>
</div>
