<div>
  <div class="clap-text">
    You can clap! with Hashtag ...
  </div>

  <%= form_tag(clap_path, method: "post") do %>
    <div class="hash-tag">
      <%= text_field_tag(:hash_tag, @hash_tag, placeholder: '#') %>
    </div>
    <div class="clap-button">
      <%= button_tag "Clap! ðŸ‘", value: 'clap.mp3', type: :submit, name: 'sound_name', class: 'btn btn-info btn-xl btn-block' %>
    </div>

    <div class="clap-text">
      Other reactions
    </div>

    <div class="clpp-button">
      <%= button_tag("Laugh! ðŸ˜†", value: 'laugh.mp3', type: :submit, name: 'sound_name', class: 'btn btn-info btn-xl btn-block') %>
    </div>
    <div class="clap-button">
      <%= button_tag("Surprised! ðŸ˜²", value: 'surprized.mp3', type: :submit, name: 'sound_name', class: 'btn btn-info btn-xl btn-block') %>
    </div>
  <% end %>
</div>
