You are claped !
<div class="hash-tag">
  <%= form_tag(view_path, method: "get") do %>
    <%= text_field_tag(:hash_tag, @hash_tag, placeholder: '#') %>
    <%= button_tag("See HashTag", class: 'btn btn-info btn-sm') %>
  <% end %>
</div>

<!-- fetch count by 1 sec -->
<%= render_async count_clap_path(hash_tag: @hash_tag), interval: 1000 %>

<div class="footer">
  <div>
    <%= button_to "Reset", reset_path, class: 'btn btn-danger' %>
  </div>
</div>
